# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.sqlite3

# Environment Variables
.env

# VS Code
.vscode/

# Media
media/

# Static
staticfiles/

# Logs
*.log

# OS
.DS_Store
Thumbs.db